@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Now;
    src: url('../fonts/now/Now-Regular.otf');
}

* {
    box-sizing: border-box;
}

body {
    background: #130040;
    color: #fff;
    font-family: Now;
    max-width: auto;
}

.bg-gradient {
    background: linear-gradient(to right, #604EDE, #A851D8);
}

.bg-gradient2 {
    background: linear-gradient(to right, #A851D8, #604EDE);
}

.blue-glassmorphism {
    background: rgb(39, 51, 89, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  /* white glassmorphism */
  .white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }